<div class="jumbotron jumbotron-fluid" style="background-color:#143059">
  <div class="container">
    <h1 class="font-weight-bold" style="color:#fff;font:bold;">See Hootsuite <br>in action</h1>
    <p class="lead" style="color:#fff">Schedule a demo today.</p>
  </div>

</div>

<div class="container">
  <div class="row">
  <div class="col-lg-6 col1">
  <img src="assets/img/forrester.PNG" class="mr-5">
  <img src="assets/img/spring.PNG">
  <div class="jumbotron" style="background-color:transparent !important;padding-left:0">

      <h1 class="font-weight-bold" >Drive business results <br>on social</h1>
      <p class="lead" >Take a look at how Hootsuite's scalability, partners, and<br> integrations set us apart from the competition.</p>


      <h1 class="font-weight-bold" >The demo is customized  <br>around you</h1>
      <p class="lead" >Get answers to your unique questions, and find out why Hootsuite<br> is the right choice for your business.</p>

  </div>
</div>


<div class="col-lg-6  float-right col2 mb-5">
  <app-demoform  ></app-demoform>
</div>
</div>
</div>




<div class="jumbotron mb-0" style="background-color:#143059;">
  <div class="container text-center">
    <h2 class="font-weight-bold" style="color:#fff;font:bold;">See why so many companies rely on Hootsuite as their social media management</h2>
    <img src="assets/img/virgin.PNG" class="responsive" width="50%">
  </div>
</div>

<div class="jumbotron mb-0" style="background-color:#eeebe8;">
  <div class="container text-center">
    <h1>Hootsuite maintains valued partner status with customers due to its liberal integration philosophy and client responsiveness.</h1>
    <p class="font-weight-bold mt-4">The Forrester Wave™: Social Media Management Solutions, Q2 2017</p>
  </div>
</div>
