


.head-container{
  width: 100%;
  max-width: 100%;
  width: 100%;
}
.first-section{
background-color: #143059;

}
.h0{
  font-size: 2.7rem;
    font-weight: 900;
    line-height: 3rem;

}
.el-color{
  color: #fff6e8;
  padding-top: 2.4rem;
    padding-bottom: 5rem;
}
.img_poz{
  margin-top: -43px;
}
.req_demo{
  margin-top: -100px;
}


.wrapper {
  display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: auto 1fr;

}
.one{
  grid-column: 1/2;
  grid-row: 1/2;
}
.two{
  grid-row: 1/3;
}

@media only screen and (max-width: 767px){
.wrapper {
    grid-template-columns: 1fr;
}
}
@media only screen and (max-width: 767px){
.one,.two,.three {
  grid-row: auto;
}
}
@media only screen and (max-width: 767px){
.req_demo {
  margin-top:  auto;
}
}
.third-section{
  background-color: #143059;
  color: #fff;
}
.fourth-section{
  background-color: #eeebe8;
  color: #241f21;
}
.blockquote{
  float: none;
      text-align: center;
      position: relative;
      font-size: 1rem;
      margin: 0 auto;

}
.blockquote-p{
  font-size: 2rem;
  letter-spacing: -.03em;

}

.blockquote__name{
  display: block;
      font-weight: 900;
}
.section{
  position: relative;
    height: auto !important;
    width: 100%;
    display: table;
    clear: both;

}
.section--light{
  background-color: #fff;
  color: #241f21;
}
