

<!DOCTYPE html>
<html lang="en">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<style>

</style>
</head>
<body>
  <header class="head-container mt-4 mb-3">
    <div class="container">
      <a href="https://hootsuite.com/" >
    <img src="assets/img/test2_logo.PNG" class="responsive"  alt="">
  </a>
  </div>
  </header>
<!--First Section-->
  <section class="first-section el-color">
    <div class="container">
  <h1 class="h0">See Hootsuite <br><span class="no-wrap-sm">in action</span></h1>
  <p></p>
  <p>Schedule a demo today.</p>
  </div>
  </section>

<!--Second Section-->
<section class="wrapper container">
<div class="one mr-5">
  <div class="img_poz">
  <img src="assets/img/forrester.PNG" class="mr-5">
  <img src="assets/img/spring.PNG">
</div>
</div>


<aside class="two req_demo mb-5">
<app-demoform ></app-demoform>
</aside>


<div class="three">
  <h1 class="font-weight-bold" >Drive business results <br>on social</h1>
  <p class="lead" >Take a look at how Hootsuite's scalability, partners, and<br> integrations set us apart from the competition.</p>


  <h1 class="font-weight-bold" >The demo is customized  <br>around you</h1>
  <p class="lead" >Get answers to your unique questions, and find out why Hootsuite<br> is the right choice for your business.</p>

</div>

</section>
<!--Third Section-->
<section class="section third-section">
  <div class="container text-center pt-5 pb-4">
    <h2 class="logo_bar_img">See why so many companies rely on Hootsuite as their social media management platform, including:</h2>
    <img src="assets/img/virgin.PNG" class="responsive" width="50%">
</div>
</section>

<section class="section fourth-section">
  <div class="container">
    <blockquote class="blockquote pt-5 pb-5">
    <p class="blockquote-p">Hootsuite maintains valued partner status with customers due to its liberal integration philosophy and client responsiveness.</p>
    <footer >
    <cite class="blockquote__name">The Forrester Wave™: Social Media Management Solutions, Q2 2017</cite>
    </footer>
    </blockquote>
</div>
</section>


</body>
</html>
